<form>
  <dl>
    <dt>Birthdate</dt>
    <dd id="settings_birthdate"></dd>

    <dt><label for="zip">Zip</label></dt>
    <dd><input type="text" name="zip" id="zip" value="<%= (zip > 0) ? zip : '' %>" class="tiny" maxlength="5"/></dd>

    <dt>Email</dt>
    <dd>// user shouldn't be able to change this easily</dd>

    <dt>Password</dt>
    <dd>// to implement later</dd>

    <dt>Email settings</dt>
    <dd>// checkboxes for stuff</dd>

    <a href="#" class="save nice small blue radius button">Save</a>
    <a href="#" class="cancel nice small white radius button">Cancel</a>

  </dl>
</form>
