
@import "base";
@import "skeleton";
@import "layout";

/**
 * Site Styles
 */


/**
 * Alerts
 */

div.alert-box { display: block; padding: 6px 7px; font-weight: bold; font-size: 13px; background: #eee; border: 1px solid rgba(0,0,0,0.1); margin-bottom: 12px; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; text-shadow: 0 1px rgba(255,255,255,0.9); position: relative; }
.alert-box.success { background-color: #7fae00; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
.alert-box.warning { background-color: #c08c00; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
.alert-box.error { background-color: #c00000; color: #fff; text-shadow: 0 -1px rgba(0,0,0,0.3); }
	
.alert-box a.close { color: #000; position: absolute; right: 4px; top: 0; font-size: 18px; opacity: 0.2; padding: 4px; }
.alert-box a.close:hover,.alert-box a.close:focus { opacity: 0.4; }






body {
  font-family: 'Signika', sans-serif;
}

header#header {
  h1 {
    margin-bottom: 0px;
  }

  aside {
    margin-top: 10px;
    input {
      margin-bottom: 0px;
      display: inline;
      vertical-align: middle;
    }

    ul {
      float: right;
      li {
        float: left;
        margin-left: 15px;
        padding-left: 15px;
        border-left: black solid 1px;
      }
      li:first-child {
        border: 0px;
      }
    }
  }
}


section#signup {
  margin-top: 20px;

  fieldset {
    padding-bottom: 9px;
    select {
      font-size: 1.5rem;
      display: inline;
      margin-bottom: 0px;
      vertical-align: middle;
    }
    label {
      display: inline-block;
    }
  }
}

div.slider_filter {
  width: 75%;
  margin: 0 auto;
}



// users
section.user {
  img {
    height: 100px;
    width: 100px;
  }

  aside {
      

  }

}




// profile
section.userPeek {
  height: 250px;
  min-width: 640px;

  img {
    float: left;
    display: inline-block;
    height: 250px;
    width: 250px;
  }

  aside {
    font-size: 12px;
    width: 500px;
    h2 {
      color: #e86d45;
    }
    section {
      margin: 10px 0 0 20px;
      padding: 5px;
      font-size: 14px;
      max-width: 500px;
      border: 1px solid #ddd;
    }
  }
}

form.profileBasics {
  header {
    h2, aside {
      display: inline-block;
    }
  }
  dt {
    font-weight: bolder;
  }

  dd {
    margin-bottom: 5px;
  }

  input.weightInput {
    display: inline-block;
  }
}







// profile
form.profile {
  input {
    display: inline-block;
  }
  dd {
    margin-left: 10px;
  }
  label {
    display: inline-block;
  }
}

.dateSelector select {
  display: inline;
}

.heightSelector select {
  display: inline;
}

form#uploader {
  input#image {
    display: none;
  }
}




section#notifications {
  min-height: 47px;
}
