
body {
  font-family: 'Signika', sans-serif;
}

header#header {
  h1 {
    margin-bottom: 0px;
  }

  aside {
    margin-top: 10px;
    input {
      margin-bottom: 0px;
      display: inline;
      vertical-align: middle;
    }

    ul {
      float: right;
      li {
        float: left;
        margin-left: 15px;
        padding-left: 15px;
        border-left: black solid 1px;
      }
      li:first-child {
        border: 0px;
      }
    }
  }
}


section#signup {
  margin-top: 20px;

  fieldset {
    padding-bottom: 9px;
    select {
      font-size: 1.5rem;
      display: inline;
      margin-bottom: 0px;
      vertical-align: middle;
    }
    label {
      display: inline-block;
    }
  }
}

div.slider_filter {
  width: 75%;
  margin: 0 auto;
}



// users
section.user {
  img {
    height: 100px;
    width: 100px;
  }

  aside {
      

  }

}




// profile
section.userPeek {
  height: 250px;
  min-width: 640px;

  img {
    float: left;
    display: inline-block;
    height: 250px;
    width: 250px;
  }

  aside {
    font-size: 12px;
    width: 500px;
    h2 {
      color: #e86d45;
    }
    section {
      margin: 10px 0 0 20px;
      padding: 5px;
      font-size: 14px;
      max-width: 500px;
      border: 1px solid #ddd;
    }
  }
}

form.profileBasics {
  header {
    h2, aside {
      display: inline-block;
    }
  }
  dt {
    font-weight: bolder;
  }

  dd {
    margin-bottom: 5px;
  }

  input.weightInput {
    display: inline-block;
  }
}




ul.userPictures {
  li.picture {
    position: relative;
    width: 150px;
    height: 150px;
  }
  li.picture:hover {
    background: #000;
    border-radius: 5px;
  }

  img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 5px;
  }
  img:hover {
    opacity: 0.35;
  }

  a.makeProfilePhoto {
    position: absolute;
    left: 0px;
    bottom: 10px;
    width: 100%;
    text-align: center;
    
    display: block;
  }
  a.delete {
    position: absolute;
    left: 130px;
    top: 6px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    line-height: 13px;

    display: block;
    text-align: center;
    background-color: red;
  }

}







// profile
form.profile {
  input {
    display: inline-block;
  }
  dd {
    margin-left: 10px;
  }
  label {
    display: inline-block;
  }
}

.dateSelector select {
  display: inline;
}

.heightSelector select {
  display: inline;
}

form#uploader {
  input#image {
    display: none;
  }
}




section#notifications {
  min-height: 44px;
}

footer#footer {
  text-align: center;
  font-size: 10px;
}
