
header, section#content, footer {
  font-family: 'Signika', sans-serif;
}

header#header {
  h1 {
    margin-bottom: 0px;
  }

  aside {
    margin-top: 10px;
    input {
      margin-bottom: 0px;
      display: inline;
      vertical-align: middle;
    }
  }
}

section#signup {
  margin-top: 20px;

  fieldset {
    padding-bottom: 9px;
    select {
      font-size: 1.5rem;
      display: inline;
      margin-bottom: 0px;
      vertical-align: middle;
    }
    label {
      display: inline-block;
    }
  }
}

section#notifications {
  min-height: 44px;
}

footer {
  text-align: center;
  font-size: 10px;
}
