<form class="signup six columns offset-by-three">
  <h4>I'm a
    <select name="gender" class="signup tiny">
      <option value="f">woman</option>
      <option value="m">man</option>
    </select>
    interested in
    <select name="seeking" class="signup tiny">
      <option value="m">men</option>
      <option value="f">women</option>
    </select>
  </h4>
  <label for="signup_email">Email:</label><input id="signup_email" type="text" name="email" class="medium" />
  <label for="signup_username">Username:</label><input id="signup_username" type="text" name="username" class="medium" />
  <label for="signup_password">Password:</label><input id="signup_password" type="password" name="password" class="medium" />
  <a href="#" class="signup large blue radius nice button" id="signup_button">Sign Up</a>
</form>
