<section id="signup">
  <h2>Sign to find someone <u>fun</u></h2>
  <input type="text" placeholder="Email" name="email" />
  <input type="text" placeholder="Username" name="username" />
  <input type="password" placeholder="Password" name="password" />
  I'm a
  <select name="gender">
    <option value="f">woman</option>
    <option value="m">man</option>
  </select>
  interested in
  <select name="seeking">
    <option value="m">men</option>
    <option value="f">women</option>
  </select>
  <button class="signup" name="signup" value="signup">Sign up!</button>
</section>
